header{
    height: 100vh;
    overflow: hidden;
   padding-top: 4rem;
}
.h{
    font-size: 1.8rem;
}
.header_container{
    text-align: center;
    position: relative;
    height: 100%;
}
.cta{
    margin-top:2rem;
    display:flex;
    gap: 1.2rem;
    justify-content: center ;
}
.header_socials{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: center;
    position:absolute;
    bottom:3rem;
}

.header_socials::after{
    content: "";
    width: 1px;
    height:2rem;
    background: var(--color-primary);
}

.me{
    background: var(--color-primary);
    height: 30rem;
    width: 22rem;
    position:absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    
}

.scroll_down{
    position: absolute;
    bottom: 2rem;
    right: -2.3rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 200;
}


@media screen and (max-width:1024px) {
    header{
        height: 68vh;
    }
}


@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header_socials,.scroll_down{
        display: none;
    }
    .me{
        width: var(--container-width-sm);
    }
}
